
/************ TAG SELECTORS 
  
**************/

body {background-color:#cde0ff;
text-align: left;
table-layout: inherit;
padding: 10px;
}

hr{background-color: none;
border-style: none;
border-top-style: dotted;
size: 50px;
}

h1 {
  color: #609EA2;
  align-content: center;
  font-size: 50px}

  h2{
color: #609EA2;
text-align: center;
font-size: 30px;
  }


  h3  {
    padding: 2%;
    color: #609EA2;
    text-align: left;
    font-size: 22px
  }

  /* PSEUDO CLASSES */
h1:hover{
 color: gold;
}

/************ CLASS SELECTORS 
CLASS SELECTORS CAN BE USED TO GROUP ELEMENTS 
SHARING SIMILAR CLASS VALUE OR PROPERTIES.

  .selector
**************/

  #Profile{
    height: 200px;
    background-color: none;
    border-radius: 50%;
  }

  .bro{
    background-color: red;
  }

  .bac{
    background-color: green;
  }

 /************ ID SELECTORS
 ID SELECTORS ARE USED ON ONLY ONCE INSTANCE.

   #selector


NAME vs PASSPORT NUMBERS.
While many persons may bear the same name,
the Passport ID/Numbers are clearly unique.

**************/
